/*===================================================
=====================================================
Developer: Casey Clair
Table of Contents
1. Global Styles
2. Nav Styles
3. Link Styles
4. Page Specific Styles
5. Banner Styles
6. Form Styles
7. Media Queries (mobile and tablet styles)

Color Palette:
#222 Dark Grey
#f1f1f1 White Smoke
#fc6 Dark Yellow
#fffedd Light Yellow
#000 Black
=====================================================
====================================================*/





/*========================
1. Global Styles
=========================*/
html{
  background-image: url("../_images/concert_background.JPG");
  background-position: center center;
  background-size: cover;
}
body{
  background: rgba(0,0,0,.6);
  font-family: 'Open Sans', sans-serif;
  font-size: 2em;
  color: #fff;
  padding: 70px 0 70px 0;
}
h1{
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 3em;
  text-align: center;
}
section#biography,section#music,section#signup{
  margin-bottom: 10em;
}
section h1{
  margin-bottom: 1.2em;
}
#biography h1{
  margin-top: 1.2em;
}
#biography p,ol{
  line-height: 1.5;
}
#signup p{
  margin-bottom: 1.4em;
  text-align: center;
}
section#albums{
  margin-top: 3em;
}
footer{
  background: #000;
  height: 100px;
  padding: 1.2em;
}
footer p{
  color: #515151;
  text-align: center;
}

/*========================
3. Nav Styles
=========================*/
.navbar-inverse{
  background: #000;
  background: rgba(0,0,0,.6);
}
.navbar-inverse .navbar-nav > li > a{
  color: #fff;
}
.navbar-inverse .navbar-nav > li > a:hover{
  color: #fc6;
}
.navbar-inverse .navbar-nav > li > a:active{
  color: #fffedd;
}
.navbar-toggle{
  padding: 1.1em;
}


/*========================
4. Link Styles
=========================*/
p > a{
  color: #fc6;
}
p > a:hover{
  color: #fffedd;
}
p > a:active{
  color: #fff;
}
.black-white{
  -webkit-transition: all .5s ease;
     -moz-transition: all .5s ease;
       -o-transition: all .5s ease;
      -ms-transition: all .5s ease;
          transition: all .5s ease;
}
.black-white:hover{
  -webkit-filter: grayscale(100%);
}
.img-thumbnail:hover{
border: 1px solid #000;
}
span a{
  color: #fc6;
  display: block;
  margin-top: 1.2em;

}
span a:visited{
  color: #fc6;
}
span a:hover{
  color: #fffedd;
}
span a:active{
  color: #fff;
}


/*========================
5. Banner Styles
=========================*/
#banner{
  background-image: url('../_images/banner.jpg');
  background-position: center top;
  background-size: cover;
  height: 650px;
}

#banner img{
  display: block;
  margin-top: 150px;
}
.pagebreak{
  background: #222;
  height: 50px;
}
.bioimage{
  margin-top: 4em;
}
#albums{
  padding-bottom: 450px;
}

/*========================
6. Form Styles
=========================*/

input[type=text]{

  border-radius: 5px;
  color: #000;
  font-size: .8em;
  width: 50%;
}
input[type=submit]{
  font-size: 1em;
  margin-top: 1.2em;
}
input[type=submit]:hover{
  background: #fc6;
}



/*========================
7. Media Queries
=========================*/

/*mobile styles (extra small devices)*/

@media only screen and (max-width:768px) {

body{
  font-size: 1.7em;
}
h1{
  font-size: 2.7em;
}
#banner{
  height: 400px;
}
.page-header h1{
  font-size: 1.5em;
}
ol{
  margin-top: 1.5em;
}

}

/*tablet styles (small devices)*/

@media only screen and (min-width: 769px) and (max-width: 992px) {

ol{
  margin-top: 1.5em;
}
}

/*desktop styles (medium devices)*/

@media only screen and (min-width: 993px) and (max-width: 1200px) {
  ol{
    margin-top: 1.5em;
  }


}

/*desktop styles (large devices)*/

@media only screen and (min-width: 1201px){


}
